In [ ]:
lst= [1,2,3,4,5]
lst.append(6)
print(lst)    #use of append
lst.append("kushaL  ")
print(lst)

In [ ]:
lst =[1,2,3,4,5]
lst1 = [6,7,8,9]
lst.extend(lst1) #use of extend
print(lst)
lst.insert(3," sagr")
print(lst)
lst.pop()
print(lst)
lst.pop(1)
print(lst)

In [ ]:
lst =list()
lst.append([1,2,3])
lst.append([4,5,6])
lst.append([7,8,9])
print(lst)

In [ ]:
lst =[1,2,3,4,5]
print(lst.pop())
lst.pop()
print(lst)
lst.pop()

In [ ]:
lst =[1,2,3,4,5]
print(lst.index(4))

In [ ]:
lst=[834,445,34,2,3,32,2332,2,34]
lst.sort()
print(lst)
lsst= ['kusahl','kwwin','yaa maa men','bhavesh']
lsst.sort()
print(lsst)

In [ ]:
lst =[1,2,3,4,5]
lst.remove(2)
print(lst)
lst
lst.reverse()
print(lst)

lst.sort( reverse=True)
print(lst)
lst.count(1)

In [ ]:
lst=[]
for i  in range(21):
    if i%2==0:
        lst.append(i)
        print(i)

list comprehesnion

In [ ]:
ls = [ i for i in range (0,20)]
ls

In [ ]:
ls =[ i for i  in range (20,0,-1) ]
ls

In [ ]:
lst =[str(i) for i in range  (20)]
lst

In [ ]:
lst = [i for i in range(int(input("Enter a no.")),int(input("enter a no.")),int(input("Enter a no.")))]
print(lst)

In [ ]:
# tupple are immutable
# t= tupple()
# t=()
t=( "kushal",1,2,35,54,4 ,[1,2,3,4],('ABC',26))
t=("kushal","tripathi")
type(t)
print(t)

In [ ]:
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=t1+t2
print(t3)

In [53]:
t1 = (1,2,3,4,"kushal ","tripthi ")
for i in  range (len(t1)):
    print(t1[i])

1
2
3
4
kushal
tripthi

In [ ]:
for i in t1 :
    print(i)

In [55]:
for i  in enumerate(t1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 'kushal ')
(5, 'tripthi ')

In [56]:
for i in range (len(t1)):
    print(i,t1[i])

0 1
1 2
2 3
3 4
4 kushal
5 tripthi

In [65]:
s =set("kusahl")
print (s)

s1={1,2,3,4,5,6,7}
s2={"abc ", "abcd", "abcde","abcdef"}
print (s1)
print (s2)

{'u', 's', 'h', 'a', 'k', 'l'}
{1, 2, 3, 4, 5, 6, 7}
{'abc ', 'abcd', 'abcde', 'abcdef'}

In [68]:
s.add("sagar")
s

{'a', 'h', 'k', 'l', 's', 'sagar', 'u'}

In [73]:
print (s)
s.pop()
print(s)
s.update((12,32,324,435,2))
print(s)

{32, 2, 324, 12, 'a', 'sagar', 435, 'k', 'l'}
{32, 2, 324, 'a', 'sagar', 435, 'k', 'l'}
{32, 2, 324, 12, 'a', 'sagar', 435, 'k', 'l'}