Bitwise Operators
and &
or |
xor ^ 
left shift <<
right shift >>

In [5]:
a=1 #0001
b=2 #0010
    #0000   and
    #0011 or     
    #0011 xor
    #0100 left 
    #0001 right
print(a&b)
print(a|b)
print(a^b)
print(a<<b)
print(b>>a)

0
3
3
4
1

Identity Operators
is and is not

In [6]:
print(a is b)
print(a is not b)

False
True

Membership operators:
in and not in

In [11]:
name = '12345abcd'
print('123' in name)
print('123' not in name)
# print(1 not in name) #Type Error

True
False

Conditional Statements

In [12]:
# if condition
# {

# }
# else if condition
# {

# }
# else
# {

# }
c=3
if a>b and a>c:
    print('a is greater than b and c')
elif c>a and c>b:
    print('c is greater than a and b')
else:
    print('b is greater than a and c')

c is greater than a and b

In [13]:
#ternary operator ? :
# answer = a>b ? True : False condition ? true : false

answer = True if a>b else False #true if condition else false
print(answer)

False

In [22]:
print("Enter number: ")
num1 = int(input())
print(type(num1))

if num1==4:
    print('same')
else:
    print('not same')

Enter number:
<class 'int'>
same

Nested if

In [32]:
a=10
b=20
sum=a+b

print("The sum of ",a," and ",b,'is ',sum)
print('the sum of %d and %d is %d'%(a,b,sum))
print('the sum of {2} and {1} is {0}'.format(a,b,sum))
print(f'the sum of {a} and {b} is {sum}')

The sum of  10  and  20 is  30
the sum of 10 and 20 is 30
the sum of 30 and 20 is 10
the sum of 10 and 20 is 30

for loop
i++
i = i+1
i+=1

for(initialization ; condition ; increment/decrement)
{
    
}

In [33]:
# for variable in sequence:


for i in 1,2,3,4,5:
    print(i)

1
2
3
4
5

range()

start
end
increment or decrement (step)

In [36]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [44]:
for i in range(0,100,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [60]:
for i in range(10,0,-2):
    print(i)
else:
    print('exit')

10
8
6
4
2
exit

In [51]:
# for variable in iternable_object: 

# for i in 'siddhi':
#     print(i)

name='siddhi\n'
print(name.count('i'))
print(name*3)

2
siddhi
siddhi
siddhi

while (condition)
{
    
}

In [59]:
i=0
while i<=10 :
    print(i)
    i+=1 
else:
    print('exit')

0
1
2
3
4
5
6
7
8
9
10
exit

In [58]:
start = int(input('Enter start: '))
end = int(input("Enter end: "))
i=start
while i>=end:
    print(i)
    i-=1 
else:
    print('exit')

12
11
10
9
8
7
6
5
4
3
2
1
exit

do 
{

}while(condition);

In [57]:
x=True
while(x==True):
    n = input("enter 4 to exit: ")
    if n == '4':
        x=False