# Lists
Lists are similar to arrays

List can hold heterogenous datatypes, multiple datatypes unlike array


# Syntax for creating a list
variable = [] or variable = list()

In [ ]:
a=10
a

10

In [ ]:
ls = []
type(ls)

list

In [ ]:
ls= list()
type(ls)

list

In [ ]:
ls = [1,2,3,4]
ls

[1, 2, 3, 4]

In [ ]:
ls1 = ['hi','hello',2,3,4,"siddhi"]
ls1

['hi', 'hello', 2, 3, 4, 'siddhi']

# Indexing

In [ ]:
ls1[1]

'hello'

In [ ]:
ls1[5]

'siddhi'

Negative Indexing

In [ ]:
len(ls1)
ls1[-3]

3

# Slicing

In [ ]:
ls1[::-2]

['siddhi', 3, 'hello']

# Palindrome in String

In [ ]:
name='mom'
name[::-1]

if name == name[::-1]:
    print("Palindrome")
else:
    print("not")

Palindrome

# Comparision and Identity Operators

In [ ]:
ls1 = [1,2,3,4]
ls2 = [1,2,3,4]

#comparision
if ls1 == ls2:
    print('same')


# ls1=ls2
#identity operator
if ls1 is ls2:
    print('same')
else:
    print('not same')

same
not same

# Functions in List

append

extend

insert

pop

del

index

sort

remove

reverse

min

max

sum

len

count

clear

count() to count how many times the element got repeated

In [ ]:
ls = [1,2,3,4,5]
ls.count(1)

1

list() to create a list , if we pass string then each character gets added as individual

In [ ]:
lst = list('siddhi mehta 213')
lst

['s',
 'i',
 'd',
 'd',
 'h',
 'i',
 ' ',
 'm',
 'e',
 'h',
 't',
 'a',
 ' ',
 '2',
 '1',
 '3']

Adding Elements

using append()
it takes only one parameter

if list is pass, then it becomes a nested list

it adds element to the end of the existing list

In [ ]:
ls1.append(['213',1,2,3])
ls1

[1, 2, 3, 4, ['213', 1, 2, 3]]

In [ ]:
listing = list()
listing.append([1,2,3])
listing.append([4,5,6])
listing.append([7,8,9])
listing

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

index() to find index of an element which exists in the list

insert() it takes 2 parameters

index where element should be inserted 

element which needs to be inserted

In [ ]:
ls = [1,2,'siddhi','mehta',3]
ls.index('siddhi')
ls.insert(3,213)
ls

[1, 2, 'siddhi', 213, 'mehta', 3]

How to access elements which are nested?

In [ ]:
ls1[-1][0]

'213'

In [ ]:
ls.insert(3,7)
ls

[1, 2, 'siddhi', 7, 213, 'mehta', 3]

extend() it is used to merge two list

eg: ls1 = ls1 + ls2

if we pass a list in the parameter, it unpacks the elements and then inserts them unlike append()

In [ ]:
ls.extend([8,9])
ls

[1, 2, 'siddhi', 7, 213, 'mehta', 3, 8, 9]

Deleting elements

pop() it deletes the last element by default

pop() takes index as parameter and deletes that element

In [ ]:
ls.pop()
ls

[1, 2, 'siddhi', 7, 213, 'mehta', 3, 8]

When we dont know the index but we know the value then we use remove()

it takes value as the parameter

In [ ]:
ls.remove(213)
ls

[1, 2, 'siddhi', 7, 'mehta', 3, 8]

it used to delete all elements of the list, but it doesnt delete the list

In [ ]:
ls=[1,2,3,4]
# ls.clear()
ls
# st='sagar'
# st.count("a")

[1, 2, 3, 4]

del used to delete multiple elements using slicing and indexing

if not mentioned then, whole list gets deleted

In [ ]:
del ls[1:3]
ls

[1, 213, 'mehta', 3]

In [ ]:
del ls
ls

Creating a copy of list
but it has different memory location

In [ ]:
# ls1=ls.copy()
ls1 = ls
ls1

# ls == ls1

ls1 is ls

True

min() to calculate minimum value in the list

max() to calculate maximum value in the list

sum() to calculate the sum of all elements in the list

In [ ]:
ls = [1,2,3]
min(ls)
max(ls)
sum(ls)

6

reverse() used to reverse the content of the list and it stores in the memory it doesnt return anything

ls[::-1] returns a reversed list but it doesnt store or update the list in the memory

In [ ]:
# ls[::-1]
# ls

ls.reverse()
ls

[3, 2, 1]

In [ ]:
ls=[10,2,3,41]
ls.sort(reverse=True)
ls

[41, 10, 3, 2]

In [ ]:
ls=list()
for i in range(1,21):
    if i%2==0:
        ls.append(i)
ls

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
ls=[]
for i in range(0,21):
    ls.append(i)
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# List Comprehension

list = [var for var in range()]

In [ ]:
ls = [i for i in range(0,20)]
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
ls = [i for i in range(20)]
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
ls = [i for i in range(int(input("enter")),int(input("enter")),int(input("enter")))]

In [ ]:
ls = []
ls.append((1,2,3))
ls.append(45)
ls[0][1] = 'sagar'

TypeError: 'tuple' object does not support item assignment

In [ ]:
ls = [str(i) for i in range(21)]
ls

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [ ]:
ls = [i for i in range(int(input("Enter start: ")),int(input("Enter end: ")),int(input("Enter step: ")))]
ls

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
ls = [i for i in input("Enter: ")]

In [ ]:
lst = [int(i) for i in input("Enter: ").split()]
lst

[123456]

# Tuples

they are immutable

t = tuple()

t = ()

In [ ]:
# t = tuple("sagar")
t = (1,2,3,'sagar',True, [1,2,3,4], ('sagar',28))
t[-1][1]="sagar"
t
# type(t)

# t[0] = 21

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = 1,2,3,4,5
type(t)

min(t)
max(t)
sum(t)

15

In [ ]:
t = (213,'siddhi','mehta',[1,2,3,4])
t[3][1] = 0 
# t[2] = 9 gives type error

# Updating Tuple

In [ ]:
t1 = 1,2,3
t2 = 3,4,5
t3 = t1 + t2
t1 = t1+t2
t1

(1, 2, 3, 3, 4, 5)

In [ ]:
t1=(1,2,3,4,5)
print(id(t1))
t2=(6,7,8,9,10)
t1= t1+t2
print(id(t1))
t2

4410692432
4410219456

(6, 7, 8, 9, 10)

In [ ]:
t1 = (1,2,3,'sagar',True,False)

# for i in range(len(t1)):
#     print(t1[i])

# for i in t1:
#     print(i)

i = 0
while i<len(t1):
    print(t1[i])
    i+=1

1
2
3
sagar
True
False

Slicing and Indexing in tuples

In [ ]:
t1[1:4]

(2, 3, 3)

In [ ]:
t1 = (1,2,3,4)
id(t1)
# t2 = t1

# id(t2)

4410687088

# Traversing in tuple using for loop

In [ ]:
for i in t1:
    print(i)

1
2
3
3
4
5

### Functions in tuples

count() 

index()

min()

max()

sum()

In [ ]:
t.count(2)

1

In [ ]:
t.index(2)

1

### Traversing in list and tuples

you can use enumerate()

In [ ]:
ls = ['hi',1,2,3,4]
for i in ls:
    print(ls[i])
type(ls)

TypeError: list indices must be integers or slices, not str

In [ ]:
ls=[1,2,3,4,5]
for i in range(len(ls)):
    print(ls[i])

1
2
3
4
5

In [ ]:
t = tuple(ls)
for i in t:
    print(i)
type(t)

1
2
3
4
5

tuple

In [ ]:
for i in enumerate(ls):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [ ]:
for i in range(len(ls)):
    print(i,ls[i])

0 hi
1 1
2 2
3 3
4 4

In [ ]:
for i in enumerate(t):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [ ]:
ls = [ str(i) for i in range(10)]
ls

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
ls = []
for i in range(10):
    ls.append(str(i))

In [ ]:
lis = []
for i in ls:
    lis.append(str(i))

lis

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
ls = [0,1,0,1,1,1,1,0,0,0,0]

# for i in range(len(ls)):
#     ls[i] = int(not ls[i])
# ls

for i in range(len(ls)):
    if ls[i] is not 1: ls[i]=1
    else: ls[i]=0
    
ls

<>:8: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:8: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/lp/lz8w74g13tz7lcsvyzs7grl40000gn/T/ipykernel_5364/3823151082.py:8: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  if ls[i] is not 1: ls[i]=1

[1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1]

# Sets

they are unordered

they do not use indexing or slicing as there is no order


### Syntax for creating sets

s = set() or s = {..}

In [ ]:
s = set([0,0,1,1,2,2,4,4])
# s = {}
# type(s)
s

{0, 1, 2, 4}

In [ ]:
s = {1,2,3,1,2,3,5,'sagar'}
# s[2]
s

{1, 2, 3, 5, 'sagar'}

In [ ]:
s = set('siddhi')
s

s = {'siddhi','mehta','sid','siddhi'}
s

{'mehta', 'sid', 'siddhi'}

In [ ]:
s = set()
type(s)

set

In [ ]:
s = {3,1,2,4,5}
type(s)

# s[2]

set

In [ ]:
for i in range(len(s)):
    print(s[i])

TypeError: 'set' object is not subscriptable

In [ ]:
s={1,2,4,3,3,4,5,1}

for i in s:
    print(i)

1
2
3
4
5

### Traversing in sets

using for loop

In [ ]:
for i in (s):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(len(s)):
    print(s[i])

TypeError: 'set' object is not subscriptable

# Functions in sets

### to insert elements

add()

update()

### to delete elements 

remove() : raises error when element doesnt exist

discard()  : doesnt raise error if element doesnt exist

pop() : random item gets deleted

clear()

del

In [ ]:
s.add('sagar')
s

{1, 2, 3, 4, 5, 'sagar'}

In [ ]:
s = {3,2,4,5}

In [ ]:
s = {1,2,3,4,5,6,7}
s.update([4,5,6,7,8,9,10])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
print(s)
s.update((1,2,2,2,2,7,8))
s.add((1,2,3,10,11))
s.add((1,2,3,4,5))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, (1, 2, 3, 10, 11)}

TypeError: unhashable type: 'set'

In [ ]:
s.pop()
s

{4, 5, 7, 8}

In [ ]:
s.discard(1)
s

{4, 5, 7, 8}

In [ ]:
s.clear()
s

set()

In [ ]:
del s

In [ ]:
s

NameError: name 's' is not defined

In [ ]:
s = {1,2,3,4,5}
sum(s)

15