In [2]:
print("hellow worlds")
print("hellow my name is kushal")

hellow worlds
hellow my name is kushal

In [5]:
# variable in python
name ="kushal "
age= 22
print("name")
print(name)
print (age)

name ="kushal" #declaring the name 
name ="tripathi" #overriding name
print(name)

#BOOLEAN
is_adult = True

name
kushal
22
tripathi

In [9]:
#user input

input_name =input("what is yr name ")
print(input_name)
print("hello ",input_name)
print("hellow "+input_name)#we can use either ", " or "+ "  to concat msg and variable

alok
hello  alok
hellow alok

In [14]:
#type conversion 
old_age = int(input("Enter your old age: "))
new_age = old_age + 2
print(new_age)

number = 10
print(float(number))
print(str(number))
print(int(number))

1125
10.0
10
10

In [2]:
#print sum of 2 number
a = float(input("enter 1st number"))
b = float(input("ENTER 2ND NUMBER "))
sum = a + b
print(sum)

2457.0

In [9]:
#strings
name = "tony stark"
print(name.upper())
print(name.lower())
print(name.find('stark'))
print(name.replace("tony stark", "ironman"))
print("t"in name)
print("stark" in name )
print("hell" in name )

TONY STARK
tony stark
5
ironman
True
True
False

In [14]:
#arithamatic operator
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5//2)
print(5%2)
print(5**2)
i=5
print(i)
i=i+2
i+=2
print(i)
i=i-2
i-=2
print(i)

i=i*2
i*=2
print(i)

7
3
10
2.5
2
1
25
5
9
5
20

In [16]:
# Operator precedence.
result = 2+3*5 #Python follows BDMAS  rule.
print(result)
result =(2+2)*5
print(result)

17
20

In [6]:
# Comparative operators.
print(3>2)
print(3<2)
print(3==2)
print(3==3)
print(3!=2)
print(3!=3)

True
False
False
True
True
False

In [14]:
# #logical operator 
# or
# and 
# not

print(3>2 or 3>1)
print(3>4 and 3>1)

print(not   3>1)

True
False
False

In [15]:
# if else 
age =90
if age >=19:
    print("you can vote")

you can vote

In [17]:
age =18
if age >=19:
    print("you can vote")

print(" chal ja ab ")

 chal ja ab

In [22]:
# elif
age = int(input(" chal age bta tere "))
if age >= 19:
    print("You can vote")
elif 3 < age < 18:
    print("You are in school. Chal ja, padai kar!")

You can vote

In [1]:
# calculator in python 

fn = int(input(" enter the 1st number "))
operator = input(" chose and operator  (+,-,*,/)")

sn = int(input(" enter the 2nd  number "))
if operator== "+":
    print (" first + 2nd ")
    result = fn +sn
    print (result)
elif operator== "-":
    print (" first - 2nd ")
    result = fn -sn
    print (result)
elif operator== "*":
    print (" first * 2nd ")
    result = fn *sn
    print (result)
elif operator== "/":
    
    print (" first / 2nd ")
    result = fn /sn
    print (result)
else :
    print("invalid operation ")

 first / 2nd
5.0

In [7]:
# range 
number =range (0,5,1)
print ( number)

range(0, 5)

In [ ]:
#loop