In [ ]:
a =10
a='sagar'
print(type(a))
print(a)

b=10.5
print(type (b))

In [ ]:
a = 2
b=1
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print('sag' +'ar')
print(a//b)# use to get answer without decimal

In [ ]:
x=10
x+=5
print(5)

In [ ]:
a= True
b= False
print (a and b )
print (a or b )
print (not a )
print (not b)

In [ ]:
a =2
b=3
print(a |b)
print (a &b)

In [ ]:
name ='sagar '
print (' s' in name )

In [ ]:
if 5>1:
    print ("5 is greater ")
else:
    print(" 1  is greter ")
print("hellow wodls")

In [ ]:
a = " kushal "
b = 'v'
if ( b in a ):
    print("  ha bhai  h yeh")
else:
    print("nhi h  kuch bhi ")

In [ ]:
a = 19
if a > 18:
    print("18 se bada hai")
elif a == 18:
    print("age 18 hi hai")
else:
    print("bacha hai")

In [ ]:
print(" entr number ")
a = input()
print(a)

In [ ]:


num1 = 10
num2 = 14
num3 = 12


if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print("The largest number is", largest)

if (num1 <= num2) and (num1 <= num3):
    smallest = num1
elif (num2 <= num1) and (num2 <= num3):
    smallest = num2
else:
    smallest = num3
print("The largest number is", smallest)

In [11]:

num1 = 10
num2 = 14
num3 = 12

if num1>num2:
    if num2>num3:
        print(num1)
elif num2>num1:
    if num2>num3:
        print(num2)
else:
    (num3+ "is largest")
    
if num1<num2:
    if num2<num3:
        print(num1)
elif num2<num1:
    if num2<num3:
        print(num2)
else:
    (num3, "is smallest")

14

In [12]:
num1 = 10
num2 = 14
num3 = 12

if num1 > num2:
    if num2 > num3:
        print(num1)
elif num2 > num1:
    if num2 > num3:
        print(num2)
else:
    print(num3, "is largest")

if num1 < num2:
    if num2 < num3:
        print(num1)
elif num2 < num1:
    if num2 < num3:
        print(num2)
else:
    print(num3, "is smallest")

14

In [13]:
num1  = 14
num2 =1223
num3 = 234
 #largest number 
if(num1>num2):
    if(num1>num3):
        print( num1 , "  yeh  lagest number ")
elif(num2> num1):
    if(num2> num3):
        print("lagest number is "+num2)

TypeError: can only concatenate str (not "int") to str

In [10]:
num1 = 14
num2 = 1223
num3 = 234

# Find the largest number
if num1 > num2:
    if num1 > num3:
        print(num1, "is the largest number")
elif num2 > num1:
    if num2 > num3:
        print(num2, "is the largest number")
else:
    print(num3, "is the largest number")
    
    #find the smallest number 
    
if num1 < num2:
    if num1 < num3:
        print(num1, "is the smallest number")
elif num2 < num3:
    print(num2, "is the smallest number")
else:
    print(num3, "is the smallest number")

1223 is the largest number
14 is the smallest number