# Jump Statement

return , pass, continue , break

In [2]:
#break to get out of loop
for i in range(0,10):
    if i==4:
        break 
    print(i)

0
1
2
3

In [4]:
i=0
while i<=10:
    if i==4:
        break
    print(i)
    i+=1

0
1
2
3

In [5]:
#continue skips current iteration
for i in range(0,10):
    if i==4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

In [7]:
i=0
while i<=10:
    i+=1
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10
11

In [10]:
name='siddhi'
for i in name:
    if i=='i' or i=='d':
        continue
    print(i)

s
h

In [12]:
#pass is null statement
a=10
if a>20:
    pass
else:
    print(a)

10

In [13]:
name='siddhi'
for i in name:
    if i=='i' or i=='d':
        pass
    print(i)

s
i
d
d
h
i

# Lists
Lists are similar to arrays

List can hold heterogenous datatypes, multiple datatypes unlike array


# Syntax for creating a list
variable = [] or variable = list()

In [14]:
a=10
a

10

In [15]:
ls = []
type(ls)

list

In [16]:
ls= list()
type(ls)

list

In [17]:
ls = [1,2,3,4]
ls

[1, 2, 3, 4]

In [20]:
ls1 = ['hi','hello',2,3,4,"siddhi"]
ls1

['hi', 'hello', 2, 3, 4, 'siddhi']

# Indexing

In [22]:
ls1[1]

'hello'

In [23]:
ls1[5]

'siddhi'

Negative Indexing

In [26]:
len(ls1)
ls1[-3]

3

# Slicing

In [34]:
ls1[::-2]

['siddhi', 3, 'hello']

# Palindrome in String

In [33]:
name='mom'
name[::-1]

if name == name[::-1]:
    print("Palindrome")
else:
    print("not")

Palindrome

# Comparision and Identity Operators

In [39]:
ls1 = [1,2,3,4]
ls2 = [1,2,3,4]

#comparision
if ls1 == ls2:
    print('same')


# ls1=ls2
#identity operator
if ls1 is ls2:
    print('same')
else:
    print('not same')

same

# Functions in List

append

extend

insert

pop

del

index

sort

remove

reverse

min

max

sum

len

count

clear

In [67]:
ls = [1,2,3,4,5]
ls.count(1)

1

In [55]:
lst = list('siddhi mehta 213')
lst

['s',
 'i',
 'd',
 'd',
 'h',
 'i',
 ' ',
 'm',
 'e',
 'h',
 't',
 'a',
 ' ',
 '2',
 '1',
 '3']

Adding Elements

In [61]:
ls1.append(['213',1,2,3])
ls1

[1,
 2,
 3,
 7,
 4,
 5,
 6,
 8,
 9,
 '213',
 '213',
 ['213', 1, 2, 3],
 ['213', 1, 2, 3],
 ['213', 1, 2, 3]]

In [66]:
listing = list()
listing.append([1,2,3])
listing.append([4,5,6])
listing.append([7,8,9])
listing

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [91]:
ls = [1,2,'siddhi','mehta',3]
ls.index('siddhi')
ls.insert(3,213)
ls

[1, 2, 'siddhi', 213, 'mehta', 3]

In [65]:
ls1[-1][0]

'213'

In [78]:
ls.insert(3,7)
ls

[1, 2, 'siddhi', 7, 213, 'mehta', 3]

In [85]:
ls.extend([8,9])
ls

[1, 2, 'siddhi', 213, 'mehta', 3, 8, 9]

Deleting elements

In [86]:
ls.pop()
ls

[1, 2, 'siddhi', 213, 'mehta', 3, 8]

In [87]:
ls.remove(213)
ls

[1, 2, 'siddhi', 'mehta', 3, 8]

In [75]:
ls.clear()
ls

[]

In [92]:
del ls[1:3]
ls

[1, 213, 'mehta', 3]

In [94]:
ls1=ls.copy()
ls1

ls1 is ls

False

In [97]:
ls = [1,2,3]
min(ls)
max(ls)
sum(ls)

6

In [102]:
# ls[::-1]
# ls

ls.reverse()
ls

[3, 2, 1]

In [105]:
ls=[10,2,3,41]
ls.sort(reverse=True)
ls

[41, 10, 3, 2]

In [106]:
ls=[]
for i in range(0,21):
    ls.append(i)
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# List Comprehension

list = [var for var in range()]

In [107]:
ls = [i for i in range(0,20)]
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [108]:
ls = [i for i in range(int(input("Enter start: ")),int(input("Enter end: ")),int(input("Enter step: ")))]
ls

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
ls = [i for i in input("Enter: ")]

In [53]:
lst = [int(i) for i in input("Enter: ").split()]
lst

[123456]

# Tuples

they are immutable

t = ()

In [117]:
t = 1,2,3,4,5
type(t)

min(t)
max(t)
sum(t)

15

In [116]:
t = (213,'siddhi','mehta',[1,2,3,4])
# t[3][1] = 0
t[2] = 9

TypeError: 'tuple' object does not support item assignment

In [121]:
t1 = 1,2,3
t2 = 3,4,5
t3 = t1 + t2
t1 = t1+t2
t1

t1[1:4]

(2, 3, 3)

In [122]:
for i in t1:
    print(i)

1
2
3
3
4
5