### Traversing in list and tuples

you can use enumerate()

In [1]:
ls = ['hi',1,2,3,4]
for i in ls:
    print(ls[i])
type(ls)

TypeError: list indices must be integers or slices, not str

In [3]:
ls=[1,2,3,4,5]
for i in range(len(ls)):
    print(ls[i])

1
2
3
4
5

In [5]:
t = tuple(ls)
for i in t:
    print(i)
type(t)

1
2
3
4
5

tuple

In [5]:
for i in enumerate(ls):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [5]:
for i in range(len(ls)):
    print(i,ls[i])

0 hi
1 1
2 2
3 3
4 4

In [6]:
for i in enumerate(t):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [7]:
ls = [ str(i) for i in range(10)]
ls

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [8]:
ls = []
for i in range(10):
    ls.append(str(i))

In [9]:
lis = []
for i in ls:
    lis.append(str(i))

lis

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [18]:
ls = [0,1,0,1,1,1,1,0,0,0,0]

# for i in range(len(ls)):
#     ls[i] = int(not ls[i])
# ls

for i in range(len(ls)):
    if ls[i] is not 1: ls[i]=1
    else: ls[i]=0
    
ls

<>:8: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:8: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/lp/lz8w74g13tz7lcsvyzs7grl40000gn/T/ipykernel_5364/3823151082.py:8: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  if ls[i] is not 1: ls[i]=1

[1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1]

# Sets

they are unordered

they do not use indexing or slicing as there is no order


### Syntax for creating sets

s = set() or s = {..}

In [12]:
s = set([0,0,1,1,2,2,4,4])
# s = {}
# type(s)
s

{0, 1, 2, 4}

In [1]:
s = {1,2,3,1,2,3,5,'sagar'}
# s[2]
s

{1, 2, 3, 5, 'sagar'}

In [4]:
s = set('siddhi')
s

s = {'siddhi','mehta','sid','siddhi'}
s

{'mehta', 'sid', 'siddhi'}

In [19]:
s = set()
type(s)

set

In [16]:
s = {3,1,2,4,5}
type(s)

# s[2]

set

In [17]:
for i in range(len(s)):
    print(s[i])

TypeError: 'set' object is not subscriptable

In [4]:
s={1,2,4,3,3,4,5,1}

for i in s:
    print(i)

1
2
3
4
5

### Traversing in sets

using for loop

In [48]:
for i in (s):
    print(i)

1
2
3
4
5

In [49]:
for i in range(len(s)):
    print(s[i])

TypeError: 'set' object is not subscriptable

# Functions in sets

### to insert elements

add()

update()

### to delete elements 

remove() : raises error when element doesnt exist

discard()  : doesnt raise error if element doesnt exist

pop() : random item gets deleted

clear()

del

In [19]:
s.add('sagar')
s

{1, 2, 3, 4, 5, 'sagar'}

In [3]:
s = {3,2,4,5}

In [25]:
s = {1,2,3,4,5,6,7}
s.update([4,5,6,7,8,9,10])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
print(s)
s.update((1,2,2,2,2,7,8))
s.add((1,2,3,10,11))
s.add((1,2,3,4,5))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, (1, 2, 3, 10, 11)}

TypeError: unhashable type: 'set'

In [57]:
s.pop()
s

{4, 5, 7, 8}

In [60]:
s.discard(1)
s

{4, 5, 7, 8}

In [61]:
s.clear()
s

set()

In [62]:
del s

In [63]:
s

NameError: name 's' is not defined

In [66]:
s = {1,2,3,4,5}
sum(s)

15

# Set operations

union() |

symmetric_difference() ^

difference() -

intersection() &

In [2]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}

In [6]:
# set1.union(set2)
# s1.union(s2)
# s2.union(s1)
s1 | s2 == s2 | s1

True

In [9]:
# s2.intersection(s1)
s2 & s1

{4}

In [23]:
# s1.symmetric_difference(s2)
# s2.symmetric_difference(s1)
s1 ^ s2 is s2 ^ s1
# s1 ^ s2 is  s2 & s1
# s1 ^ s2 == s2 ^ s1

False

In [13]:
# s1.difference(s2)
# s2.difference(s1)
s2 - s1 == s1 - s2

False

In [24]:
s={'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRTUVWXYZ'}
s.add(" ")
string=input("Enter a string:")
i=0
while (i<=len(string)):
    if string[i] in s:
        i+=1
    else:
        print("Invalid string")
        break
else:
    print("valid String")

Invalid string

In [25]:
# name = 'The quick brown fox jumped over the lazy dogs'.lower()
name = input('Enter the string ').lower()
result = 0
for i in range(len(name)):
    if name[i] in 'abcdefghijklmnopqrstqvwxyzu':
        result+=1

if result == 26: print('proper string')
else: print('improper string')
result

improper string

35

In [104]:
name = 'The quick brown fox jumped over the lazy dogs'
s = set(name.lower())
result=0
for i in s:
    if i in 'abcdefghijklmnopqrstqvwxyzu':
        result+=1

if result == 26 : print('Is proper string')
else: print('Not a proper string')

Is proper string

In [93]:
#proper string
name = 'The quick brown fox jumped over the lazy dogs'
s = set(name.upper())
s.discard(" ")
if len(s) != 26:
    print('not')
else:
    print("proper string")

proper string

In [89]:
#string functions

name = 'siddhi,mehta,213,rolno'
s = set(name)
s

name.split(',')


n = input("enter name : ").upper()
n

'SIDDHI MEHTA'

# Dictionaries

they are key value pairs

similar to variable

variable = value

but in dictionary it is, variable(key) : value

### Syntax for creating a dictionary

d = dict() or d = {}

In [27]:
d = dict()
# d = {}
type(d)

dict

In [51]:
#  d = {1 : 'one', '2' : 'two'}
# d = {'name' : 'siddhi', 'rollno' : 213 }
# d[1] 

# name = "sagar manchakatla"
d = {
    'batch':'batch-4',
    'roll_no': [100,101,102,103],
    100:'sagar'
}
# d['roll_no'][-1]
a = d['roll_no'][0]
d[a]

'sagar'

In [42]:
# d = {'key' : 'val'}
d

{'key': 'val'}

# Access elements 

using ['key'] : it returns us value

using get('key') : it returns us value

using keys() : it returns all keys

using values() : it returns all values

using items() : it return key value pair

In [116]:
d = {'name' : 'siddhi', 'rollno' : 213 }
d['name']

'siddhi'

In [117]:
d.get('name')

'siddhi'

In [52]:
type(d.keys())

dict_keys

In [119]:
d.values()

dict_values(['siddhi', 213])

In [59]:
# d.items()
d = {
    1:'one',
    2:'two',
    3:'three',
    4:(100,102,104),
    'name': 'sagar'
}
d.get(4)[-1]

104

### Using membership operators

In [61]:
'name' not in d

False

In [124]:
'key1' not in d

True

### Adding or Updating Elements in Dictionary

using update()

using dict[key] = value

In [67]:
d['roll_no'] = 100
d['batch'] = 4
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: (100, 102, 104),
 'name': 'sagar',
 'roll_no': 100,
 'batch_no': 4,
 'address': 'Mumbai',
 'batch': 4}

In [71]:
d2 = {
    'localaity': 'bandra',
    'nationality': 'indian',
    'universe':'milky way',
    1:'sagar'
}
# d.update(d2)

d['new dict'] = d2
d['new dict']['nationality']

'indian'

In [134]:
d.update({'name':['siddhi','random'], 'roll':[213,210]})
d['name'][1]

d['n'] = 'val'
d

{'name': ['siddhi', 'random'],
 'rollno': 213,
 'key': 'val',
 'n': 'val',
 'roll': [213, 210]}

In [44]:
d.update({'key1':'val'})
d

{'key': 'val', 'key1': 'val'}

In [45]:
d['key3'] = 'value is this'
d

{'key': 'val', 'key1': 'val', 'key3': 'value is this'}

In [46]:
d['key'] = 'value is this'
d

{'key': 'value is this', 'key1': 'val', 'key3': 'value is this'}

In [84]:
d

{1: 'sagar',
 2: 'two',
 3: 'three',
 4: (100, 102, 104),
 'name': 'sagar',
 'roll_no': 100,
 'batch_no': 4,
 'address': 'Mumbai',
 'batch': 4,
 'localaity': 'bandra',
 'nationality': 'indian',
 'universe': 'milky way',
 'new dict': {'localaity': 'bandra',
  'nationality': 'indian',
  'universe': 'milky way',
  1: 'sagar'}}

In [85]:
for i in d.items():
    # print(i)
    print('key is ',i[0]," : Value is ",i[1])

key is  1  : Value is  sagar
key is  2  : Value is  two
key is  3  : Value is  three
key is  4  : Value is  (100, 102, 104)
key is  name  : Value is  sagar
key is  roll_no  : Value is  100
key is  batch_no  : Value is  4
key is  address  : Value is  Mumbai
key is  batch  : Value is  4
key is  localaity  : Value is  bandra
key is  nationality  : Value is  indian
key is  universe  : Value is  milky way
key is  new dict  : Value is  {'localaity': 'bandra', 'nationality': 'indian', 'universe': 'milky way', 1: 'sagar'}

In [87]:
d = dict()
for i in range(5):
    d[i] = input(f'enter value for {i}th index')

d

{0: '10', 1: '20', 2: '30', 3: '40', 4: '50'}

### Deleting Elements in Dictionary

pop('key')

popitem() : removes last item in dict

del

clear()

In [94]:
d = {
    'name' : 'sagar',
    'middle_name' : 'ravindra',
    'sur_name' : 'manchakatla'
}
d.pop('name')

'sagar'

In [92]:
d.popitem()

('middle_name', 'ravindra')

In [39]:
d.clear()
d

{}

In [40]:
del d
d

NameError: name 'd' is not defined

### Traversing in dictionary

using for loop with

items

keys

values

In [142]:
d = {'s' : 1, 'ss':2, 'sss' : [3,3,3,3]}
for i in d:
    print(i)

s
ss
sss

In [144]:
for i in d.values():
    print(i)

1
2
[3, 3, 3, 3]

In [55]:
# for i , j in d:
#     print(i , " ", j)

In [56]:
for i in d.keys():
    print(i)

s
ss
sss

In [143]:
for i , j in d.items():
    print(i," ",j)

s   1
ss   2
sss   [3, 3, 3, 3]

### Creating a copy of dictionary

copy()

In [99]:
# d1 = d.copy()
d1 = d
d1 is d
# d1==d
# d1

True

In [101]:
d.update({'s':[1,1,1,1]})
d

{'middle_name': 'ravindra', 'sur_name': 'manchakatla', 's': [1, 1, 1, 1]}

In [151]:
d1

{'s': [1, 1], 'ss': 2, 'sss': [3, 3, 3, 3]}

In [60]:
d1 = d
d1 is d

True

# Functions

a resuable block of code which gets executed whenever u call the name

uses def keyword

int func (int aram1, float param2){

    return int
}

def func(param):

In [105]:
def add(str, num):
    print(str*num)
add('sagar',5)

sagarsagarsagarsagarsagar

In [107]:
def func(name, sur_name):
    n = name
    print(n,sur_name)
print(n)
func('sagar','manchakatla')

NameError: name 'n' is not defined

In [131]:
name = 'siddhi'
def output(n,name):
    nm = name
    print(n,nm)

print(name)
output(1,'sagar')

siddhi
1 sagar

int output(int n, String name)
{

}

### Scope of a variable

global : available in whole code file

local : available in that code block

In [109]:
name = 'sagar'
for i in range(5):
    print(i)
print(i)
print(name)

0
1
2
3
4
4
sagar

In [116]:
name = 'siddhi' 

def output(n,name):
    nm = name 
    print(n,nm)

print(nm)
output(1,'sagar')

1 sagar

In [119]:
name = 'siddhi' 

def output(n):
    nm = name 
    print(n,nm)


output(1)
print(nm)

1 siddhi

### Return statement and Default Arguements

In [125]:
def display(name='sagar',batch_no = 4):
    print(name,batch_no)

display('sagar')
display('sagar')
display()
display('sanjay')
display('deeraj',10)

sagar 4
sagar 4
sagar 4
sanjay 4
10 4

In [127]:
a = 10
b=20

a,b = b,a
print(a,b)

20 10

In [129]:
a = 20
b = 30
def swap(n=5,m=7):
    n,m = m,n
    print(n , m)
swap(a,b)

30 20

In [168]:
def swap(n=5,m=20):
    n,m = m,n
    return n,m

a,b = swap()
print(a,b)

20 5